@font-face {
	font-family: title;
	src: url('ABC.otf') format('opentype')
}

body {
    width: 100%;
    background: #000;
    background-image: url(img/bg.jpg);
    
}

h1 {
	color: white;
	font-family: title;
	margin-bottom: 5px;
}

.container {
    width: 95%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

.instagram {
    overflow: hidden;
}

.instagram .image {
    float: left;
    margin-right: 16px;
    margin-bottom: 10px;
    background-color: white;
}

img {
    width: auto;
    height: 137px;
    padding: 10px 10px 0px 10px;
}