@font-face {
	font-family: title;
	src: url('ABC.otf') format('opentype')
}

@font-face {
    font-family: memo;
    src: url('sp-setofont.ttf') format('opentype')
}

body {
    width: 100%;
    background: #000;
    background-image: url(img/bg.jpg);
    
}

h1 {
	color: white;
	font-family: title;
	margin-bottom: 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

.instagram {
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}

.instagram .image {
    margin-right: 16px;
    margin-bottom: 20px;
    background-color: white;
    display: inline-block;
}

.instagram .image:nth-child(7n) {
    margin-right: 0px;
}

.instagram .image li {
    list-style-type: none;
}

img {
    width: auto;
    height: 130px;
    padding: 7px;
}

p {
    color: black;
    margin-top: 0px;
    font-style: memo;
    font-weight: bold;
}